---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: mywebapp
    newName: docker.io/bhaveshscp/python-image
    newTag: sha256:298d0e43dda0b2d121ce904042bbc3de5450285df3fbe60ed712830f7b22b7bf
patchesStrategicMerge:
  - resource-limits.yaml
