---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: mywebapp
    newName: docker.io/bhaveshscp/python-image
    newTag: sha256:0869dd410ca711dd8e34009d1495fcef34f0004c178e7f456e602d1513233f6f
patches:
  - path: resource-limits.yaml
    target:
      kind: Deployment
