apiVersion: apps/v1
kind: Deployment
metadata:
  name: mywebapp
spec:
  template:
    spec:
      containers:
        - name: mywebapp
          resources:
            limits:
              memory: "32Mi"
              cpu: "10m"
            requests:
              memory: "24Mi"
              cpu: "5m"

