apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "mywebapp"
spec:
  template:
    spec:
      containers:
        - name: "mywebapp"
          resources:
            limits:
              memory: "128Mi"
              cpu: "200m"
            requests:
              memory: "64Mi"
              cpu: "100m"
